<form method='post' action='/bookmarks'>
      <label for='title'> Bookmark Name: </label>
      <input type='text' name='title' placeholder='Website Name'>
      <label for='url'> URL: </label>
      <input type='text' name='url' placeholder='URL'/>
      <input type='submit' value='Submit'/>
</form>